<div class="gallery">
  <div class="galleryitem">
    <div class="galleryimgcontainer"><%= image_tag("merchantpaths2.jpg", class: "galleryimg") %></div>
  </div>
  <div class="galleryitem">
    <div class="galleryimgcontainer"><%= image_tag("shards.jpg", class: "galleryimg") %></div>
  </div>
</div>

<h1 class="gallerytitle caesar-dressing-regular">Characters</h1>
<div class="gallery">
  <div class="galleryitem">
    <div class="galleryimgcontainer"><%= image_tag("rohta.jpg", class: "galleryimg") %></div>
  </div>
</div>

<%= stylesheet_link_tag "layouts/gallery" %>
<%= javascript_include_tag "lores", defer: true %>