<%= stylesheet_link_tag "pages/page" %>

<div id="cpage">

  <%= render "shared/site_navigation" %>
  <%= render "shared/page_image" %>
  <%= render "shared/posted_date" %>
  <%= render "shared/page_and_chapter" %>
  <%= render "shared/comic_navigation" %>

</div>

<%= render "shared/socials"%>

<% content_for :admin_options do %>
  <%= render "shared/edit_button" %>
<% end %>