<%= stylesheet_link_tag "pages/page" %>

<div id="leftflex">
  <div id="comicflex"><%= render "shared/comic_title" %></div>

  <div id="sitebuttons">
    <%= render "shared/site_navigation" %>
    <%= render "shared/socials" %>
  </div>

  <div id="posteddate">
    <p>Posted</p>
    <p><%= @page.published_at.strftime("%d/%m/%Y") %></p>
  </div>
</div>

<div id="cpage">
  <%= render "shared/page_image" %>
</div>

<div id="rightflex">
  <div id="emptytocenternavigation"></div>

  <%= render "shared/comic_navigation" %>

  <div id="pageandchapter">
    <div id="pagenum"><%= "Page #{@page.page_number}" %></div>
    <div id="chapternum"><%= "Chapter #{@page.chapter.chapter_number}" %></div>
  </div>
</div>

<% content_for :admin_options do %>
  <%# <%= render "shared/edit_button" %>
<% end %>