<%= stylesheet_link_tag "pages/page" %>

<%= render "shared/comic_title" %>

<div id="cpage">
  <%= render "shared/page_image" %>
</div>

<%# <%= render "shared/posted_date" %>
<%# <%= render "shared/page_and_chapter" %>
<div id="rightflex">
  <%= render "shared/comic_navigation" %>
</div>

<% content_for :admin_options do %>
  <%# <%= render "shared/edit_button" %>
<% end %>