<div id="fullwrap">

<a id="comictitle" href=<%= home_index_path %>>Sojourn Star</a>
<%# <div><%= link_to image_tag(), home_index_path %></div> %>

<% @page = Chapter.last.pages.first %>

<div id="sitenavigation">
  <%= link_to "Archive", pages_path, class: "link-text" %>
</div>

<div id="posteddate">
</div>

<div id="cpage">
  <% if @page %>
    <%= image_tag(url_for(@page.page_image), title: @page.page_number.to_s, id: "comic_image") %>
  <% end %>
</div>

<div id="comicnavigation">
  <%= link_to "First", page_path(Page.sorted.first.id), class: "navbutton" %>
  <%= link_to_unless(@page.previous.nil?, "Previous", page_path(@page.previous.id), class: "navbutton") %>
  <%= link_to_unless(@page.next.nil?, "Next", page_path(@page.next.id), class: "navbutton") %>
  <%= link_to "Last", page_path(Page.sorted.last.id), class: "navbutton" %>

  <a class="cn-first">first</a>
  <a class="cn-prev">prev</a>
  <% if @page %>
    <%# <a class="cn-pageinfo"><%= @page.page_number.to_s%></a> %>
  <% end %>
  <a class="cn-next">next</a>
  <a class="cn-last">last</a>
</div>

<div id="pageandchapter">
  <% if @page %>
  <%# <%= "Page #{@page.page_number.to_s} Chapter #{@page.chapter.chapter_number.to_s}" %> %>
  <% end %>
</div>

<div id="socials">
  <div id="links">
    <a id="patreon">Patreon</a>
    <a id="twitch">Twitch</a>
    <a id="twitter">Twitter</a>
    <a id="instagram">Instagram</a>
  </div>
</div>

<%# fullwrap end %>
</div> 