<div id="fullwrap">

<a id="comictitle" href=<%= home_index_path %>>Sojourn Star</a>

<% @page = Chapter.last.pages.first %>

<div id="centercolumn">

  <div id="leftcolumn">
    <div id="sitenavigation">
      <%= link_to "Archive", pages_path, class: "link-text" %>
    </div>

    <div id="posteddate">
      Sample
    </div>
  </div>


  <div id="cpage">
    <% if @page %>
      <%= image_tag(url_for(@page.page_image), title: @page.page_number.to_s, id: "comic_image") %>
    <% end %>
  </div>


  <div id= rightcolumn>

    <div id="comicnavigation">
      <%= link_to_if @page.first, "First",         @page.first, class: "navbutton" %>
      <%= link_to_if @page.previous, "Previous",  @page.previous, class: "navbutton" %>
      <%= link_to_if @page.next, "Next",          @page.next, class: "navbutton" %>
      <%= link_to_if @page.last, "Last",           @page.last, class: "navbutton" %>
    </div>

    <div id="pageandchapter">
      Sample
    </div>
  </div>

</div>

<div id="socials">
  <a id="patreon">Patreon</a>
  <a id="twitch">Twitch</a>
  <a id="twitter">Twitter</a>
  <a id="instagram">Instagram</a>
</div>

<%# fullwrap end %>
</div> 