<%= form_with model: page do |form| %>
  <div>
    <%= form.label :image %><br>
    <%= form.text_area :image %><br>
    <% page.errors.full_messages_for(:image).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% page.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :page_number %><br>
    <%= form.text_area :page_number %><br>
    <% page.errors.full_messages_for(:page_number).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>