<%= form_with model: page do |form| %>
  <div>
    <%= form.label :page_image %><br>
    <%= form.file_field :page_image %><br>
    <% page.errors.full_messages_for(:page_image).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :chapter %><br>
    <%= form.text_field :chapter %>
    <% page.errors.full_messages_for(:chapter).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :page_number %><br>
    <%= form.text_area :page_number %><br>
    <% page.errors.full_messages_for(:page_number).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

    <div>
    <%= form.label :published_at %><br>
    <%= form.datetime_select :published_at, include_blank: true %><br>
    <% page.errors.full_messages_for(:published_at).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>