<%= form_with model: page do |form| %>
  <div>
    <%= form.label :page_image %><br>
    <%= form.file_field :page_image, direct_upload: true %><br>
    <% page.errors.full_messages_for(:page_image).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :chapter_id %><br>
    <%= form.select :chapter_id, @chapter_options %>
    <% page.errors.full_messages_for(:chapter_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :page_number %><br>
    <%= form.text_area :page_number %><br>
    <% page.errors.full_messages_for(:page_number).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div> 
    <%= form.submit "Draft" %>
  </div>

  <div>
    <%= form.datetime_select :published_at, use_short_month: true, discard_hour: true, discard_minute: true, discard_second: true, default: Time.current %>
  </div>
    
  <div>
    <%= form.submit "Publish" %>
  </div>
<% end %>