<%= stylesheet_link_tag "archive/archive" %>

<%= render "shared/site_navigation" %>

<ol id="chapterslist">

  <ul id="new">
    <li><%= link_to_if(admin_signed_in?, "New chapter", new_chapter_path, class: "adminbutton"){} %></li>
    <li><%= link_to_if(admin_signed_in?, "New page", new_page_path, class: "adminbutton"){} %></li>
  </ul>

<% @chapters.sorted.each do |chapter| %>
  <li class="chaptertitle"><%= "#{chapter.name}" %>

    <%= link_to_if(admin_signed_in?, "Edit", edit_chapter_path(chapter), class: "adminbutton"){} %>

    <ol class="chaptergallery">
    <% chapter.pages.sorted.each do |page| %>

      <% if admin_signed_in? %>

        <li class="galleryitem">

          <%= link_to image_tag(page.page_image.representation(resize_to_limit: [100, 100])), page %>
          <br>
          
          <%= link_to page.page_number, page %>
          <br>

          <% if page.draft? %>
            <p>'Draft'</p> <br>

          <% elsif page.scheduled? %>
            <p>'Scheduled'</p> <br>
            
          <% else %>
            <%= link_to "Edit", edit_page_path(page), class: "adminbutton" %>
          <% end%>

        </li>
    
      <% else %>

        <% next if page.invalid? || page.draft? || page.scheduled? %>

        <li class="galleryitem">
          <%= link_to image_tag(page.page_image.representation(resize_to_limit: [100, 100])), page %>
          <br>
          <%= link_to page.page_number, page %>
        </li>

      <% end %>
    <% end %>
    </ol>
  </li>
<% end %>
</ol>

<%= render "shared/socials"%>