<% if admin_signed_in? %>
  <div><%= link_to "New chapter", new_chapter_path %></div>
<% end %>

<% @chapters.sorted.each do |chapter| %>
  <div><%= chapter.name %></div><br>

  <% chapter.pages.sorted.each do |page| %>
    
    <% if page.invalid? %>
      <% next %>
    <% end %>

    <% if page.draft? && admin_signed_in? %>
      <p>Draft</p>
    <% elsif page.draft? %>
      <% next %>
    <% end %>

    <% if page.scheduled? && admin_signed_in? %>
      <p>Scheduled</p>
    <% elsif page.scheduled? %>
      <% next %>
    <% end %>

    <div><%= link_to image_tag(page.page_image.representation(resize_to_limit: [100, 100])), page %></div>
    <div><%= link_to page.page_number, page %></div>

  <% end %>
<% end %>

<% if admin_signed_in? %>
  <%= link_to "New page", new_page_path %>
  <% @pages.each do |page|%>
    <% if page.invalid?%>
      <%= link_to "Invalid page. Page number: #{page.page_number}. Click to edit", edit_page_path(page)%>
    <% end %>
  <% end %>
<% end %>