<% if admin_signed_in? %>

  <%# create chapter %>

  <% @pages.each do |page| %>
    
    <% if page.invalid? %>
      <%= link_to "Invalid page. Page number: #{page.page_number}. Click to destroy", page_path(page), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      <% next %>
    <%end %>

    <% if page.draft? %>
      <h1>Draft</h1>
    <% end %>

    <% if page.scheduled? %>
      <p>scheduled</p>
    <% end %>

    <div><%= link_to image_tag(page.page_image.representation(resize_to_limit: [100, 100])), page %></div>
    <div>Chapter <%= page.chapter %></div>
    <div><%= link_to page.page_number, page %></div>

  <% end %>
  
  <%= link_to "New page", new_page_path %>

<% else %>
  <% @pages.sorted.each do |page| %>

    <% if page.invalid? %>
      <% next %>
    <%end %>

    <div><%= link_to image_tag(page.page_image.representation(resize_to_limit: [100, 100])), page %></div>
    <div>Chapter <%= page.chapter %></div>
    <div><%= link_to page.page_number, page %></div>

  <% end %>
<% end%>

<nav id="menu">
  <%= link_to 'HOME', "home#index" %>
  <%= link_to 'ARCHIVE', pages_path %>
</nav>