<%= stylesheet_link_tag "layouts/gallery" %>

<div id="newbuttons">
  <%= link_to_if(admin_signed_in?, "New chapter", new_chapter_path, class: "adminbutton"){} %>
  <%= link_to_if(admin_signed_in?, "New page", new_page_path, class: "adminbutton"){} %>
</div>

<% @chapters.sorted.each do |chapter| %>

  <h1 class="gallerytitle caesar-dressing-regular"><%= chapter.name %></h1>

  <div class="gallery">

    <% if admin_signed_in? %>
      <% chapter.pages.sorted.each do |page| %>
        <div class="galleryitem">
          <%= link_to image_tag(page.page_image.representation(resize_to_limit: [100, 100]), class: "galleryimg", size: "100x100"), page, class: "galleryimgcontainer" %>
          <%= link_to page.page_number, page, class: "gallerypagenum" %>
          <% if page.draft? %>
            <p>'Draft'</p>
          <% elsif page.scheduled? %>
            <p>'Scheduled'</p>
          <% end %>
          <%= link_to "Edit", edit_page_path(page), class: "adminbutton editpagebutton" %>
        </div>
      <% end %>

    <% else %>
      <% chapter.pages.sorted.each do |page| %>
        <% next if page.invalid? || page.draft? || page.scheduled? %>
        <div class="galleryitem">
          <%= link_to image_tag(page.page_image.representation(resize_to_limit: [100, 100]), class: "galleryimg", size: "100x100"), page, class: "galleryimgcontainer" %>
          <%= link_to page.page_number, page, class: "gallerypagenum" %>
        </div>
      <% end %>

    <% end %> 

  </div>
  
<% end %>