<%= stylesheet_link_tag "archive" %>

<ol class="chapterslist">
<% @chapters.sorted.each do |chapter| %>
  <li class="chaptertitle"><%= "#{chapter.name}" %>
    <%= link_to_if(admin_signed_in?, "Edit", edit_chapter_path(chapter), class: "editbutton"){} %>

    <ol class="chaptergallery">
    <% chapter.pages.sorted.each do |page| %>

      <% if admin_signed_in? %>

        <li class="galleryitem">
          <%= link_to image_tag(page.page_image.representation(resize_to_limit: [100, 100])), page %>
          <%= link_to page.page_number, page %>
          <%= tag.p 'Draft' if page.draft? %>
          <%= tag.p 'Scheduled' if page.scheduled? %>
          <%= link_to "Edit", edit_page_path(page), class: "editbutton" %>
        </li>
    
      <% else %>

        <% next if page.invalid? || page.draft? || page.scheduled? %>

        <li class="galleryitem">
          <%= link_to image_tag(page.page_image.representation(resize_to_limit: [100, 100])), page %>
          <%= link_to page.page_number, page %>
        </li>

      <% end %>
    <% end %>
    </ol>
  </li>
<% end %>
</ol>