<%= stylesheet_link_tag "page" %>

<div id="fullwrap">

<%= link_to_if @page.first, image_tag("titlecard.png"), home_index_path, id: "comictitle" %>

<div id="cpage">
  <div id="sitenavigation">
    <li><%= link_to "-Archive-", pages_path, class: "linktext" %></li>
    <li><a class="linktext">-Ars Arcanum-</a></li>
    <li><a class="linktext">-Shop-</a></li>
  </div>

  <div id="posteddate">
    <li>Posted</li>
    <li><%= @page.published_at.strftime("%d/%m/%Y") %></li>
  </div>

  <% if @page %>
    <%= image_tag(url_for(@page.page_image), title: @page.page_number.to_s, id: "cimage") %>
  <% end %>

  <div id="pageandchapter">
    <li id="pagenum"><%= "Page #{@page.page_number}"%> </li>
    <li> <%= "Chapter #{@page.chapter.chapter_number}" %> </li>
  </div>

  <div id="comicnavigation">
    <li><%= link_to_if(@page.first, image_tag("first.png"),         @page.first, class: "navbutton"){} %></li>
    <li><%= link_to_if(@page.previous, image_tag("previous.png"),   @page.previous, class: "navbutton"){} %></li>
    <li><%= link_to_if(@page.next, image_tag("next.png"),           @page.next, class: "navbutton"){} %></li>
    <li><%= link_to_if(@page.last, image_tag("latest.png"),         @page.last, class: "navbutton"){} %></li>
  </div>
</div>


<div id="socials">
  <li><a class="linktext" id="patreon">Patreon</a></li>
  <li><a class="linktext" id="twitch">Twitch</a></li>
  <li><a class="linktext" id="twitter">Twitter</a></li>
  <li><a class="linktext" id="instagram">Instagram</a></li>
</div>

<% if admin_signed_in? %>
<%= link_to "Edit", edit_page_path(@page), id: "editfromshow" %>
<% end %>

</div>

<%# fullwrap end %>
</div>