<p style="color: green"><%= notice %></p>

<h1>Chapters</h1>

<div id="chapters">
  <% @chapters.each do |chapter| %>
    <div class="chaptername"><%= chapter.name %>
      <% chapter.pages do |page| %>
        <div class="pagepreviewimg"><%= link_to image_tag(page.page_image.representation(resize_to_limit: [100, 100])), page %></div>
        <div class="pagepreviewnumber"><%= link_to page.page_number, page%></div>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to "New chapter", new_chapter_path %>

<nav id="menu">
  <%= link_to 'HOME', "home#index" %>
  <%= link_to 'ARCHIVE', pages_path %>
</nav>
