<!DOCTYPE html>
<html>
  <head>
    <title>Ssprototype</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= yield %>

   <%# <nav id="menu"> %>
    <%#= link_to 'HOME', home_index_path %>
    <%#= link_to 'ARCHIVE', pages_path %>
    <%# if admin_signed_in? %>
    <%#= link_to 'Log out', destroy_admin_session_path, data: {turbo_method: :delete} %>
    <%# end %>
   <%# </nav> %>
  </body>

</html>
