<!DOCTYPE html>
<html>
  <head>
    <title>Ssprototype</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">

    <%= yield :stylesheet %> 
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <div id="fullwrap">

      <div id="titlewrap">
      <%= render "shared/comic_title" %>
      <%= yield :with_title %>
      </div>
      
      <%= yield %>

      <% if admin_signed_in? %>
        <%= link_to "Log out", destroy_admin_session_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "adminbutton", id: "logout" %>
      <% end %>
    </div>
  </body>

</html>
