<!DOCTYPE html>
<html>
  <head>
    <title>Ssprototype</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <h1>
    <%= link_to "home", home_index_path %>
    <%= yield %>
  </h1>
</html>
